.tip-container{
    background-color: rgb(69, 143, 143);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.tip-head{
    font-weight: bold;
    color: #fff;
    /* text-align: center; */
}

.tips-tips{
    /* border: 2px solid black; */
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
   text-align: center;
   width: 100%;
   color: #fff;
    
}
