/* .hospital-details-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .status {
    font-weight: bold;
  }
  
  .user-ratings {
    color: #888;
  }
  
  .rating {
    color: #007bff;
  } */

  .hospital-details-container {
    background: url(../photos/carefinder1.jpg);
    background-repeat: no-repeat;
    height: 50vh;
    display: grid;
    place-items: center;
    border: 1px solid red;

  }